<ng-container *ngIf="user">
    <app-dashboard></app-dashboard>
</ng-container>
<ng-container *ngIf="!user">
    <section class="container py-2">
        <div class="row">
            <section class="position-absolute" id="login-container">
                <app-login *ngIf="!user && isLogin" (logged)="setup()" (wouldSignIn)="isLogin = false"></app-login>
                <app-sign-in *ngIf="!user && !isLogin" (logged)="setup()" (cancelSignIn)="isLogin = true"></app-sign-in>
            </section>
        </div>
    </section>
</ng-container>
