<section class="container" *ngIf="user">
  <div class="row">
    
    <h1 class="col-12 h1 py-4 fs-2 text-secondary text-uppercase mb-0">Mon tableau de bord</h1>
    <blockquote class="col-12 fs-7 mb-2">
      <p>
        Retrouvez l'ensemble de vos listes et des éléments qui vous sont partagés.
      </p>
    </blockquote>

    <section class="col-12 mb-5">
      <button routerLink="item/list/edit" type="button" role="button" mat-stroked-button color="primary">
        Créer une liste
      </button>
    </section>

    <app-item-list-card-list [user]="user"></app-item-list-card-list>

  </div>
</section>