<div class="container-fluid">
    <div class="row">
        <h1 class="col-12 fs-2 text-primary">
            <span *ngIf="hasSignIn">Inscription rapide</span>
            <span *ngIf="hasToken">Finalisation de l'inscription</span>
        </h1>

        <div class="col-12 bg-success text-white text-center" *ngIf="hasSignIn">
            Première étape validée ! <br>
            Vérifier vos emails !
        </div>

        <form action="#" class="col-12" *ngIf="form && !hasSignIn && !hasToken" [formGroup]="form">
            <div class="row">

                <div class="col-12 text-danger mb-2" *ngIf="customError.length > 0">
                    <p>{{ customError }}</p>
                </div>

                <mat-form-field [appearance]="'outline'" class="col-12">
                    <mat-label>Adresse e-mail</mat-label>
                    <input type="text" matInput [formControl]="getFormControl('username')">
                    <mat-hint>Saisir une adresse email valide, nous vous enverrons un petit quelque chose</mat-hint>
                    <mat-error>Attention, ce champ est obligatoire...</mat-error>
                </mat-form-field>

                <section class="col-12 mt-4">
                    <div class="row">
                        <div class="col">
                            <button mat-stroked-button color="primary" (click)="wouldCancelSignIn()" type="button">Connexion ?</button>
                        </div>
                        <div class="col text-end pe-0">
                            <app-form-validation (submit)="submitForm()" [form]="form" [formIsSubmitted]="formIsSubmitted"></app-form-validation>
                        </div>
                    </div>
                </section>


            </div>
        </form>

        <ng-container *ngIf="hasToken">
            <section class="col-12">
                <div class="row">

                    <ng-container *ngIf="tokenVerificationInProgress">
                        <mat-spinner></mat-spinner>
                    </ng-container>

                    <ng-container *ngIf="tokenIsVerified">
                        
                        <form action="#" class="col-12" *ngIf="form" [formGroup]="form">
                            <div class="row">
                                <input type="email" id="username" [value]="currentUsername" autocomplete="username">
                                <mat-form-field [appearance]="'outline'" class="col-12">
                                    <mat-label>Mot de passe</mat-label>
                                    <input [type]="seePlainPassword ? 'text': 'password'" matInput [formControl]="getFormControl('newPassword')"
                                    autocomplete="new-password">
                                    <mat-hint>Veuillez définir votre mot de passe de connexion à votre compte utilisateur ShareList !</mat-hint>
                                    <mat-icon matSuffix (click)="seePlainPassword = !seePlainPassword" matTooltip="Visualiser les mots de passe ?">
                                        {{ seePlainPassword ? 'visibility_off' : 'visibility' }}
                                    </mat-icon>
                                    <mat-error>
                                        <span *ngIf="getFormControl('newPassword')?.errors?.required">
                                            <mat-icon>warning</mat-icon>
                                            Ce champ est obligatoire.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field [appearance]="'outline'" class="col-12">
                                    <mat-label>Confirmation du "Mot de passe"</mat-label>
                                    <input [type]="seePlainPassword ? 'text': 'password'" matInput [formControl]="getFormControl('confirmPassword')"
                                    autocomplete="new-password">
                                    <mat-hint>Confirmer votre mot de passe afin d'éviter une erreur de saisie !</mat-hint>
                                    <mat-icon matSuffix (click)="seePlainPassword = !seePlainPassword" matTooltip="Visualiser les mots de passe ?">
                                        {{ seePlainPassword ? 'visibility_off' : 'visibility' }}
                                    </mat-icon>
                                    <mat-error>
                                        <span *ngIf="getFormControl('confirmPassword')?.errors?.required">
                                            <mat-icon>warning</mat-icon>
                                            Ce champ est obligatoire.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                                <app-form-validation (submit)="submitPasswordForm()" [form]="form" [formIsSubmitted]="formIsSubmitted"></app-form-validation>
                            </div>
                        </form>
                    </ng-container>

                </div>
            </section>
        </ng-container>

    </div>
</div>