<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- stroked -->
            <ng-container *ngIf="!formSettings || !formSettings.matButtonType || formSettings.matButtonType === 'stroked'">
                <button type="button" role="button"
                [color]="form.valid ? 'accent' : 'warn'"
                (click)="submit.emit()"
                *ngIf="!formIsSubmitted" mat-stroked-button>
                    Valider
                </button>
                <button type="button" role="button"
                [color]="'primary'"
                *ngIf="formIsSubmitted" mat-stroked-button>
                    Synchro en cours
                </button>
            </ng-container>
            <!-- flat -->
            <ng-container *ngIf="formSettings && formSettings.matButtonType && formSettings.matButtonType === 'flat'">
                <button type="button" role="button"
                [color]="form.valid ? 'accent' : 'warn'"
                (click)="submit.emit()"
                *ngIf="!formIsSubmitted" mat-flat-button>
                    Valider
                </button>
                <button type="button" role="button"
                [color]="'primary'"
                *ngIf="formIsSubmitted" mat-flat-button>
                    Synchro en cours
                </button>
            </ng-container>
            <!-- fab -->
            <ng-container *ngIf="formSettings && formSettings.matButtonType && formSettings.matButtonType === 'fab'">
                <button type="button" role="button"
                [color]="form.valid ? 'accent' : 'warn'"
                (click)="submit.emit()"
                *ngIf="!formIsSubmitted" mat-mini-fab>
                    <span *ngIf="form.valid"><mat-icon>task_alt</mat-icon></span>
                    <span *ngIf="form.invalid"><mat-icon>error</mat-icon></span>
                </button>
                <button type="button" role="button"
                [color]="'primary'"
                *ngIf="formIsSubmitted" mat-mini-fab>
                    <mat-icon>sync</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>
</div>