<div class="container py-2" *ngIf="itemList">
    <div class="row">

            <section class="col-lg-12 mx-auto">
                <mat-card>
                    <mat-card-title>
                        {{ itemList.label }}
                        <div class="float-end">
                            <button mat-mini-fab type="button" color="primary" [routerLink]="'/item/list/edit/' + itemList.id">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </mat-card-title>
                    <mat-card-content class="container-fluid px-0">
                        <div class="row mx-0">
                            <p class="fst-italic fs-7 mb-1">
                                Sélectionner un ou plusieurs éléments pour réaliser des opérations :
                            </p>
                            <mat-chip-list multiple>
                                <mat-chip *ngFor="let item of itemList.items" (click)="toggleItem(item)"
                                [selected]="itemsToShare.includes(item.id)">
                                    <mat-icon *ngIf="item.sharedItems && item.sharedItems.length > 0" matTooltip="Cet élément est partagé avec {{ item.sharedItems.length }} utilisateur(s)">share</mat-icon>
                                    <a [href]="item.targetLink" target="_blank" rel="noopener noreferrer" *ngIf="item.targetLink" class="text-dark mx-2"
                                    matTooltip="Accéder à la page de vente de l'élément ?">
                                        <mat-icon>open_in_new</mat-icon>
                                    </a>
                                    {{ item.label }}&nbsp;<span *ngIf="item.idealPrice" class="fs-7 fw-light">{{ item.idealPrice }} &euro;</span>
                                </mat-chip>
                            </mat-chip-list>
    
                        </div>
                    </mat-card-content>
                </mat-card>
            </section>

            <hr class="col-11 text-center mt-5 mx-auto text-secondary" *ngIf="itemsToShare.length > 0">

            <section class="col-12 pt-3" *ngIf="itemsToShare.length > 0">
                <div class="row justify-content-between">
                    <div class="col-12 mb-4">
                        <div class="row">
                            <h2 class="col-12 text-center text-uppercase text-primary fs-2">Avec la sélection</h2>
                            <h3 class="col-12 fst-italic fs-7 text-secondary text-center mb-0">
                                {{ itemsToShare.length }}&nbsp;<span *ngIf="itemsToShare.length > 1">éléments sélectionnés</span><span *ngIf="itemsToShare.length <= 1">élément sélectionné</span>
                            </h3>
                        </div>
                    </div>

                    <hr class="col-12 text-center mx-auto text-secondary" *ngIf="itemsToShare.length > 0">

                    <section class="col-lg-5">
                        <div class="row">
                            <section class="col-12 mt-3">
                                <mat-card>
                                    <mat-card-title class="text-primary text-uppercase">
                                        Mode partage
                                    </mat-card-title>
                                    <mat-card-content>
                                        <p>
                                            Sélectioner un utilisateur avec lequel partager les éléments sélectionnés. <br>
                                            L'utilisateur pourra également visualier le nom de la liste associé à l'élément. <br>
                                            L'utilisateur ne pourra pas modifier ou supprimer l'élément partagé.
                                        </p>
                                        <mat-form-field class="w-100 mt-2" [appareance]="'outline'">
                                            <mat-label>Sélectionner un utilisateur</mat-label>
                                            <input type="text" placeholder="Sélectionner un utilisateur" matInput
                                                [formControl]="ctrl" [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{ option.email }}
                                              </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </mat-card-content>
                                    <mat-card-actions class="text-end">
                                        <button type="button" mat-raised-button color="accent" class="w-100" (click)="submitShare()"
                                        *ngIf="!formIsSubmitted">Valider</button>
                                        <button type="button" mat-mini-fab color="primary" *ngIf="formIsSubmitted"><mat-icon>sync</mat-icon></button>
                                    </mat-card-actions>
                                </mat-card>
                            </section>

                            <section class="col-12 mt-3">
                                <mat-card>
                                    <mat-card-title class="text-danger text-uppercase">
                                        Mode suppression
                                    </mat-card-title>
                                    <mat-card-content>
                                        <p>
                                            Supprimer l'ensemble des éléments sélectionnés. <br>
                                            Les utilisateurs qui avaient accès ne verront plus l'élément également. <br>
                                            <b>Action irréversible.</b>
                                        </p>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button class="w-100" (click)="removeSelected()" mat-raised-button color="warn"
                                        *ngIf="!formIsSubmitted">Confirmer</button>
                                        <button type="button" mat-mini-fab color="primary" *ngIf="formIsSubmitted"><mat-icon>sync</mat-icon></button>
                                    </mat-card-actions>
                                </mat-card>
                            </section>
                        </div>
                    </section>

                    <section class="col-lg-5 mt-3" *ngIf="itemSharedToUser.length > 0">
                        <mat-card>
                            <mat-card-title class="text-danger text-uppercase">
                                Mode retrait du partage
                            </mat-card-title>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12" *ngFor="let itemShareToUser of itemSharedToUser">
                                        <div class="row">
                                            <div class="col-12">
                                                <b>Utilisateur :</b>&nbsp;{{ itemShareToUser.user.email }}
                                            </div>
                                            <div class="col py-2">
                                                <mat-chip-list>
                                                    <mat-chip *ngFor="let sharedItem of itemShareToUser.items">
                                                        {{ sharedItem.label }}
                                                    </mat-chip>
                                                </mat-chip-list>
                                            </div>
                                            <div class="col-2">
                                                <button type="button" role="button" 
                                                (click)="unshareSelected(itemShareToUser.user.id)"
                                                mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </section>
                </div>
            </section>

    </div>
</div>