<div class="container">
    <div class="row">

        <h2 class="col-12 fs-3 text-primary fw-light text-uppercase">
            Mes listes
            <div class="float-end">
                <span class="fs-6 fst-italic fw-light text-dark">
                    {{ items.length }}
                    <span *ngIf="items.length > 1">éléments</span>
                    <span *ngIf="items.length <= 1">élément</span>
                </span>
            </div>
        </h2>

        <ng-container *ngIf="items.length <= 0">
            <div class="col-12 alert alert-warning">
                <h2 class="col-12 h2">
                    Comment ça ? Vous n'avez pas encore créé de liste à partager !
                </h2>
                <div class="col-12 text-end">
                    <button type="button" role="button" routerLink="item/list/edit" mat-raised-button>
                        Créer ma première liste
                    </button>
                </div>
            </div>
        </ng-container>

        <section class="col" *ngFor="let itemList of items">
            <mat-card>
                <mat-card-title>
                    {{ itemList.label }}
                    <div class="float-end">
                        <button type="button" class="me-2" mat-mini-fab [routerLink]="'item/list/edit/' + itemList.id"><mat-icon>edit</mat-icon></button>
                        <button type="button" class="me-2" mat-mini-fab [routerLink]="'item/list/view/' + itemList.id"><mat-icon>visibility</mat-icon></button>
                        <button type="button" class="me-2" mat-mini-fab (click)="deleteItemList(itemList)" color="warn"><mat-icon>delete</mat-icon></button>
                    </div>
                </mat-card-title>
                <mat-card-content></mat-card-content>
            </mat-card>
        </section>

        <ng-container *ngIf="sharedItem.length > 0">
            <hr class="col-11 mx-auto my-5 text-primary">

            <section class="col-12">
                <div class="row">
                    <h2 class="col-12 fs-3 text-primary fw-light text-uppercase">
                        Les différentes listes que l'on vous a partagé !
                    </h2>
        
                    <section class="col" *ngFor="let itemLista of sharedItem">
                        <mat-card>
                            <mat-card-title>
                                {{ itemLista.label }}
                            </mat-card-title>
                            <mat-card-content>
                                <mat-chip-list>
                                    <mat-chip *ngFor="let item of itemLista.items">
                                        <a [href]="item.targetLink" target="_blank" rel="noopener noreferrer" *ngIf="item.targetLink" class="text-dark me-2"
                                        matTooltip="Accéder à la page de vente de l'élément ?">
                                            <mat-icon>open_in_new</mat-icon>
                                        </a>
                                        {{ item.label }}&nbsp;<span *ngIf="item.idealPrice" class="fs-7 fw-light">{{ item.idealPrice }} &euro;</span>
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-card-content>
                        </mat-card>
                    </section>
                </div>
            </section>
        </ng-container>



    </div>
</div>