<div class="container py-2">
    <div class="row">
        <h1 class="col-12">
            Édition d'une liste
            <div class="float-end">
                <app-form-validation (submit)="submitForm()" [form]="form" [formIsSubmitted]="formIsSubmitted"></app-form-validation>
            </div>
        </h1>

        <form action="#" *ngIf="form" [formGroup]="form">
            <div class="row">

                <mat-form-field [appearance]="'outline'" class="col-12">
                    <mat-label>Libellé</mat-label>
                    <input [type]="'text'" matInput [formControl]="getFormControl('label')"
                    autocomplete="new-password">
                    <mat-hint>Il est temps de donner un nom à cette liste...</mat-hint>
                    <mat-error>
                        <span *ngIf="getFormControl('label')?.errors?.required">
                            <mat-icon>warning</mat-icon>
                            Ce champ est obligatoire.
                        </span>
                    </mat-error>
                </mat-form-field>

                <div class="col-12 py-4">
                    <button type="button" class="w-100" color="primary" mat-raised-button (click)="addItem()">
                        Ajouter un élément
                    </button>
                </div>

                <section class="col-12" formArrayName="items">
                    <div class="row">
                        <ng-container *ngFor="let item of getFormArray('items').controls; let index = index">
                            <div [formGroupName]="index" class="col-4">
                                <mat-card>
                                    <mat-card-subtitle>
                                        Élément n°{{ index + 1 }}
                                    </mat-card-subtitle>
                                    <mat-card-content>
                                        <mat-form-field [appearance]="'outline'" class="col-12">
                                            <mat-label>Libellé</mat-label>
                                            <input [type]="'text'" matInput formControlName="label">
                                            <mat-error>
                                                <span *ngIf="getFormControl('label')?.errors?.required">
                                                    <mat-icon>warning</mat-icon>
                                                    Ce champ est obligatoire.
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field [appearance]="'outline'" class="col-12">
                                            <mat-label>Lien</mat-label>
                                            <input [type]="'text'" matInput formControlName="targetLink">
                                            <mat-hint>Coller ici le lien vers la page de l'article que vous avez repéré</mat-hint>
                                        </mat-form-field>
                                        <mat-form-field [appearance]="'outline'" class="col-12">
                                            <mat-label>Prix idéal</mat-label>
                                            <input [type]="'text'" matInput formControlName="idealPrice">
                                            <mat-hint>Indiquer le prix idéal pour cet élément</mat-hint>
                                            <mat-icon matSuffix>euro</mat-icon>
                                        </mat-form-field>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </ng-container>
                    </div>
                </section>
            </div>
        </form>


    </div>
</div>