<mat-toolbar>
  <span>ShareList !</span>
  <span class="mat-toolbar-spacer"></span>
  <button (click)="logout()" mat-icon-button *ngIf="user">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>