<div class="container-fluid">
    <div class="row">
        <h1 class="col-12 text-primary fs-2">Connexion</h1>
        <form action="#" class="col-12" *ngIf="form" [formGroup]="form">
            <div class="row">
                <div class="col-12 text-danger mb-2" *ngIf="customError.length > 0">
                    <p>{{ customError }}</p>
                </div>
                <mat-form-field [appearance]="'outline'" class="col-12">
                    <mat-label>Votre adresse email</mat-label>
                    <input type="email" autocomplete="username" matInput [formControl]="username">
                    <mat-hint>Veuillez saisir votre adresse email</mat-hint>
                    <mat-error>
                        <mat-icon>warning</mat-icon>
                        Ce champ est obligatoire.
                    </mat-error>
                </mat-form-field>
                <mat-form-field [appearance]="'outline'" class="col-12">
                    <mat-label>Mot de passe</mat-label>
                    <input [type]="passwordIsShow ? 'text' : 'password'" matInput [formControl]="password" autocomplete="current-password">
                    <mat-hint>Veuillez saisir votre mot de passe</mat-hint>
                    <mat-error>
                        <mat-icon>warning</mat-icon>
                        Ce champ est obligatoire.
                    </mat-error>
                    <mat-icon matSuffix (click)="passwordIsShow = !passwordIsShow">
                        <span *ngIf="!passwordIsShow">visibility</span>
                        <span *ngIf="passwordIsShow">visibility_off</span>
                    </mat-icon>
                </mat-form-field>
                <div class="col-12 mt-4">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" mat-stroked-button color="primary" (click)="wouldSign()">
                                Créer un compte ?
                            </button>
                        </div>
                        <div class="col-6 text-end">
                            <app-form-validation (submit)="submitForm()" [form]="form" [formIsSubmitted]="formIsSubmitted"></app-form-validation>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>